.layout {
  overflow: auto;
  height: calc(100vh - var(--topbar-height));
  padding: 2rem;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--color-text-secondary);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  // animate visualizing and hiding the loader
  animation: fade-in-out 1s ease-in-out forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}