.layout {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  height: calc(100vh - var(--topbar-height));
  padding: 2rem 0;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--color-text-secondary);
}