.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--color-text-secondary);
}

.layout {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: var(--topbar-height) 1fr;
  grid-template-areas: 'hsidebar header'
    'sidebar messages';
  height: 100vh;
  position: relative;
}

.hsidebar {
  grid-area: hsidebar;
}

.messages {
  grid-area: messages;
  overflow-y: auto;
}

.sidebar {
  grid-area: sidebar;
  overflow-y: auto;
}

.header {
  grid-area: header;
}

.portal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}