.layout {
  display: flex;
  flex-direction: column;
  // dark blue
  padding: 0 0.5rem;
  height: 100vh;
  overflow: auto;
  
  background-color: var(--color-background);
  border-right: 1px solid var(--color-borders);
}