.message {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-messagebox-background);

  align-self: flex-start;
  max-width: 80%;
  overflow-wrap: break-word;
}

.mymessage {
  background-color: var(--color-primary);
  color: #FFF;
  margin-left: auto;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: var(--messages-container-width);
}