.layout {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.25rem;
  align-self: center;
  margin-left: 0.25rem;
}

.wait {
  background-color: var(--color-wait);
}

.in_progress {
  background-color: var(--color-in-progress);
}